<span class="dashicons dashicons-download button text-error" style="padding-right: 22px" data-tippy-placement="left"
      data-tippy-content="<div class='text-error'>
          {% for error in errors %}
              {{ error }}
          {% endfor %}
    </div>"></span>
