{% if tasksSynchronizeOrder.productChanges is defined %}
    <ul>
        {% for productChange in tasksSynchronizeOrder.productChanges %}
            <li>
                {% if productChange.change == 'replace_product_action' %}
                    {{ 'Le produit'|trans ~ ' "' ~ getProductChangeLabel(productChange.old, tasksSynchronizeOrder.products) ~'"'~'va être remplacé par'|trans ~ ' "'~getProductChangeLabel(productChange.new, tasksSynchronizeOrder.products)~'".' }}
                {% endif %}
                {% if productChange.change == 'add_product_action' %}
                    {{ 'Le produit'|trans ~ ' "' ~ getProductChangeLabel(productChange.new, tasksSynchronizeOrder.products) ~'"'~'va être ajouté.'|trans }}
                {% endif %}
                {% if productChange.change == 'remove_product_action' %}
                    {{ 'Le produit'|trans ~ ' "' ~ getProductChangeLabel(productChange.new, tasksSynchronizeOrder.products) ~'" '~'va être supprimé.'|trans }}
                {% endif %}
                {% if productChange.change == 'change_quantity_product_action' %}
                    {{ 'La quantité du produit'|trans ~ ' "' ~ getProductChangeLabel(productChange.new, tasksSynchronizeOrder.products) ~'" '~'va passer de '~productChange.old.quantity~' '~'à'~' '~ productChange.new.quantity ~'.'|trans }}
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endif %}
