<div data-sage-pcattarifs="{{ pCattarifs|json_encode }}"></div>
<div data-sage-pcatcomptas="{{ pCatComptas|json_encode }}"></div>
<div data-sage-product="{{ product|json_encode }}"></div>
<div id="{{ panelId }}" class="panel woocommerce_options_panel hidden">
  sage tabs article
</div>

