<div data-sage-pcattarifs="{{ pCattarifs|json_encode }}"></div>
<div data-sage-pcatcomptas="{{ pCatComptas|json_encode }}"></div>
<div data-sage-product="{{ productMeta|json_encode }}"></div>
<div id="{{ panelId }}" class="panel hidden">
  <div class="skeleton skeleton-box"></div>
</div>

