{% for tabName in tabNames %}
  <div id="sage_product_data_panel_{{ tabName }}" class="panel woocommerce_options_panel hidden">
    {% include 'woocommerce/tabs/'~tabName~'.html.twig' %}
  </div>
{% endfor %}
